/* Seletores por elemento */
header {
	min-width: 100%;
	background-color: rgb(150, 3, 150);
	padding-left: 10px;
	padding-bottom: 12px;
	padding-top: 20px;
	margin-left: -10px;
	margin-right: -40px;
	margin-top: -21px;
}

th {
	border-radius: 2px;
	padding: 5px;
	background-color: rgb(202, 63, 202);
}

td {
	border-radius: 2px;
	padding: 5px;
	background-color: rgb(240, 106, 240);
}

th, td {
	text-align: center;
}

body {
	background-color: lightgray;
}

input {
	border-radius: 3px;
}

table {
	background-color: black;
}

select {
	border-radius: 4px;
	background-color: rgb(250, 171, 250);
	border-color: rgb(158, 67, 243);
}

/* Seletores por Classe */
.topBottomDoubleBorder {
	padding: 0px 3px 0px 3px;
	border-style: double;
	border-width: 5px 0px 5px 0px;
}

.centralBox {
	border-radius: 5px;
	font-size: larger;
	max-width: max-content;
	padding: 5px 20px 5px 20px;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(149, 60, 233);
	border-style: solid;
	border-width: 3px;
}

.sidebar {
	position: absolute;
	max-width: max-content;
	margin-left: -9px;
	margin-bottom: -9px;
	padding: 15px;
	background-color: rgb(202, 63, 202);
	height: 100%;
}

/* Seletores de Id */
#title {
	margin-bottom: -7px;
}

#studentList {
	font-size: large;
	margin-left: 10%;
	margin-right: 10%;
	align-content: center;
}

#month {
	font-size: large;
}

#errorPageText {
	border-width: 20px;
	border-style: double;
	border-color: red;
	font-size: xx-large;
	background-color: #ff9595;
	padding: 20px;
	margin: 20px;
}

#errorText, #errorTitle {
	border-bottom-style: solid;
	border-bottom-color: crimson;
}

#return {
	font-size: medium;
	background-color: darkgrey;
	border-width: 2px;
	border-radius: 2px;
	border-style: solid;
	padding: 3px;
}

/* Seletor universal */
* {
	font-family: Arial;
}